{"filter":false,"title":".gitmodules","tooltip":"/.gitmodules","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":582,"mode":"ace/mode/text"}},"timestamp":1409305178591,"hash":"dfd098997e34022bd68e646b206cfe450ed1a234"}